@import 'https://fonts.googleapis.com/css?family=Oxygen';
html, body {
    margin:0px;
    padding:0px;
    font-family: Oxygen;
}
body {
    background-image:url("../img/background.jpg");
	background-position:center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
}
a, button, input {
    font-family: Oxygen;
    outline:none;
}
.sidebar {
	position:absolute;
	top:10px;
	left:10px;
	background-color:rgb(0,120,200);
	height:calc(100% - 20px);
	height:auto;
	width:250px;
	border-top-left-radius:20px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.Logo {
	width:100%;
	margin-top:0px;
	border-top-left-radius:15px;
}
.sidebar > p {
	text-align:center;
	font-size:20px;
	color:white;
}
.ybimage, .ybbtn {
	margin-left:25px;
	margin-right:25px;
	width:200px;
}
.ybimage {
	margin-bottom:20px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}
.ybbtn {
	margin-bottom:0px;
	border:0px;
	font-size:23px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	padding:10px;
	cursor: pointer;
    background-color: rgba(215, 10, 45, 1);
	color:white;
}
.header {
	position:absolute;
	top:10px;
	left:260px;
	height:75px;
	background-color:rgb(0,120,200);
	width:calc(100% - 270px);
	border-top-right-radius:15px;
	border-bottom-right-radius:15px;
	margin-right:10px;
	overflow:hidden;
}
.hbtn {
	height:75px;
	font-size:40px;
	width:auto;
	background-color:transparent;
    color:white;
	border:0px;
	margin-right:25px;
	margin-left:25px;
	text-decoration:none;
    transition: background-color 200ms linear;
}
.hbtn:hover {
    background-color: rgba(215, 10, 45, 1);
    cursor: pointer;
}
.content {
	position:absolute;
	top:95px;
	left:270px;
	background-color:rgb(0,120,200);
	color:rgb(1000, 1000, 1000);
	width:calc(100% - 280px);
	height:auto;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
}